
/*
 * @file uc_catalog_accordion.css
 * @comment Ubercart Catalog Accordion.
 * @copyright Copyright(c) 2011 Rowlands Group
 * @license GPL v2 http://www.fsf.org/licensing/licenses/gpl.html
 * @author Nick Schuch nick at rowlandsgroup dot com
 * 
 */

/* Removes default Styling */
#block-uc-catalog-catalog .catalog .expanded {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
}

/* Removes default Styling */
#block-uc-catalog-catalog .ui-corner-top,
#block-uc-catalog-catalog .ui-state-default,
#block-uc-catalog-catalog .ui-widget-content .ui-state-default,
#block-uc-catalog-catalog .ui-widget-header .ui-state-default {
    border: none;
}


